host_index=1

hostname[1]=contrail-controller01
hostname[2]=contrail-controller02
hostname[3]=contrail-controller03

host_ip[1]=10.40.0.72
host_ip[2]=10.40.0.73
host_ip[3]=10.40.0.74
host_ip_prefix=16
internal_dev=eth4
external_dev=eth1

auth_host=10.0.10.3
admin_user=quantum_s3_ec2_nova
admin_password=fWdZ8242kXYPR2f9cmZHWRzCccP7k9PjcGqPjbYjPbtSC8sqPKqfygNbmdWSNzN4
admin_tenant=services
admin_token=N8dNrr6xZqwFh64Sc5574sVy5Zmkkz2XHYzSXpcBjNK86CxhNST44js2PjnBdgcL

image_host=10.0.10.5
compute_host=10.0.10.4
storage_host=10.0.10.7

data_ip=10.40.0.58
data_ip_prefix=16
data_gw=10.40.0.1
data_dev=vlan40

internal_vip=10.40.255.254
internal_vip_prefix=16
external_vip=10.0.10.254
external_vip_prefix=24

